$white: #f2f2f2;
$black: #262626;

$green: #227345;
$light-green: #9fbfad;
$orange: #d96e11;

$blue: #023859;
$light-blue: #5e8899;
$yellow: #f2b705;

@mixin heading() {
  font-size: 4rem;
  padding-top: 5rem;
  margin: 2rem 0;
  color: $white;
  text-align: center;
  position: relative;

  &::after {
    content: '';
    position: absolute;
    bottom: -1.5rem;
    left: 50%;
    transform: translateX(-50%);
    height: 0.3rem;
    width: 60%;
    border-radius: 5rem;
    background: #333;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-transform: none;
  transition: all 0.2s linear;
  font-family: 'Exo 2', sans-serif;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
}

#header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: -100%;
  left: 0;
  padding: 1rem 4rem;
  background: $blue;
  box-shadow: 0 0.1rem 0.3rem #999;
  z-index: 1100;

  .logo {
    img {
      height: 10.5rem;
    }
  }

  nav {
    ul {
      display: flex;
      align-items: center;
      justify-content: space-around;
      list-style: none;
      margin-bottom: 0;

      li {
        margin-right: 2rem;

        a {
          color: $white;
          font-size: 2rem;
          text-decoration: none;

          &:hover {
            color: $yellow;
          }
        }
      }
    }
  }

  .bi-list {
    font-size: 3rem;
    color: $white;
    cursor: pointer;
    display: none;
  }
}

// Secao Home
#home {
  min-height: 100vh;
  width: 100vw;
  background: linear-gradient(
      76.34deg,
      #ffffff 52.45%,
      rgba(196, 196, 196, 0) 52.49%
    ),
    url(./assets/back1.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  animation: background 10s alternate infinite;

  .content {
    position: relative;

    h1 {
      font-size: 6rem;
      color: $blue;
      font-weight: 800;
    }

    h2 {
      font-size: 5rem;
      color: $blue;
    }

    h3 {
      font-size: 3rem;
      color: $light-blue;
      margin: 1rem 0;
    }

    button {
      outline: none;
      border: none;
      border-radius: 5rem;
      background: $blue;
      color: $white;
      cursor: pointer;
      height: 4rem;
      width: 18rem;
      font-size: 2rem;
      text-transform: capitalize;

      &:hover {
        background-color: $yellow;
      }
    }

    .icons {
      position: absolute;
      left: 2rem;
      bottom: -65%;
      width: 100%;

      i {
        line-height: 4rem;
        text-align: center;
        /* background: $blue; */
        border-radius: 5rem;
        font-size: 3.7rem;
        color: $blue;
        margin-right: 1.5rem;
        transition: 0.4s;

        &:hover {
          text-decoration: none;
          color: $yellow;
        }
      }
    }
  }
}

// Secao Conteudo

#conteudo {
  display: grid;
  place-items: center;
  min-height: 100vh;
  width: 100vw;

  .heading {
    @include heading();
    color: $blue;
  }

  .box-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
    flex-wrap: wrap;

    .box {
      height: 25rem;
      width: 30rem;
      border-radius: 0.5rem;
      box-shadow: 0 0 0.3rem #333;
      margin: 2rem;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-flow: column;
      cursor: pointer;
      overflow: hidden;

      img {
        height: 35%;
        width: 35%;
        transform: translateY(5rem);
      }

      h2 {
        display: block;
        transform: translateY(6rem);
      }

      &:hover h2 {
        display: block;
        transform: translateY(0rem);
      }

      p {
        font-size: 1.3rem;
        text-align: center;
        color: $white;
        opacity: 0;
        transform: translateY(12rem);
        padding: 0 0.4rem;
      }

      &:hover p {
        opacity: 1;
        transform: translateY(0rem);
        margin: 0 1rem;
      }

      &:hover img {
        height: 25%;
        width: 25%;
        transform: translateY(-1rem);
      }

      &:hover {
        background: $yellow;
      }
    }
  }
}

// Aprendizado Section

#aprendizado {
  display: grid;
  place-items: center;
  min-height: 100vh;
  width: 100vw;
  background: $light-blue;

  .heading {
    @include heading();
    margin-bottom: 2.5rem;
  }

  .box-container {
    width: 90%;

    .box {
      background: $white;
      max-width: 60rem;
      border-radius: 5rem;
      box-shadow: 0 0 0.3rem #333;
      display: flex;
      align-items: center;
      justify-content: space-around;
      padding: 4rem 2rem;
      margin: 2rem;
      clear: both;

      img {
        height: 7rem;
        margin-right: 4rem;
      }

      .info {
        padding-left: 2.5rem;
        border-left: 0.4rem solid $light-blue;

        h2 {
          font-size: 3rem;
          color: $light-blue;
        }

        p {
          font-size: 1.5rem;
          color: #333;
        }
      }
    }
    .box:nth-child(2) {
      float: right;
    }
  }
}

@keyframes background {
  0%,
  100% {
    background: linear-gradient(
        76.34deg,
        #ffffff 52.45%,
        rgba(196, 196, 196, 0) 52.49%
      ),
      url(./assets/back1.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
  }

  25% {
    background: linear-gradient(
        76.34deg,
        #ffffff 52.45%,
        rgba(196, 196, 196, 0) 52.49%
      ),
      url(./assets/back2.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
  }

  50% {
    background: linear-gradient(
        76.34deg,
        #ffffff 52.45%,
        rgba(196, 196, 196, 0) 52.49%
      ),
      url(./assets/back3.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
  }

  75% {
    background: linear-gradient(
        76.34deg,
        #ffffff 52.45%,
        rgba(196, 196, 196, 0) 52.49%
      ),
      url(./assets/back4.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
  }
}

//Media Queries

@media (max-width: 800px) {
  html {
    font-size: 50%;
  }

  #header {
    .bi-list {
      display: block;
    }

    nav {
      position: fixed;
      top: -120%;
      left: 0;
      height: calc(100vh - 5rem);
      width: 100vw;
      background: $blue;

      ul {
        height: 100%;
        flex-flow: column;
        justify-content: center;

        li {
          margin: 2rem 0;

          a {
            font-size: 3rem;
          }
        }
      }
    }

    .nav-toggle {
      top: 11.6rem;
    }
  }

  #home {
    animation: none;
    background: linear-gradient(
        rgba(255, 255, 255, 0.8),
        rgba(255, 255, 255, 0.8)
      ),
      url(./assets/back-md.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;

    .content h1,
    h2,
    .icons {
      text-shadow: 0.1rem 0.1rem 0.3rem $black;

      .icons {
        left: 50%;
        transform: translateX(-50%);
      }
    }
  }
}

@media (max-width: 500px) {
  #aprendizado {
    .box-container {
      .box {
        flex-flow: column;
        padding: 1.5rem;

        img {
          height: 10rem;
          margin: 1rem;
        }

        .info {
          padding-left: 0;
          padding-top: 3rem;
          border: none;
          text-align: center;

          p {
            padding: 1rem;
          }
        }
      }
    }
  }
}
