$green: #227345;
$light-green: #9fbfad;
$orange: #d96e11;
$white: #f2f2f2;
$black: #262626;

$blue: #023859;
$light-blue: #84c0d8;
$yellow: #f2b705;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-transform: capitalize;
  transition: all 0.2s linear;
  font-family: 'Exo 2', sans-serif;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
}

#header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  padding: 1rem 4rem;
  background: $blue;
  box-shadow: 0 0.1rem 0.3rem #999;
  z-index: 1100;

  .logo {
    img {
      height: 10.5rem;
    }
  }

  nav {
    ul {
      display: flex;
      align-items: center;
      justify-content: space-around;
      list-style: none;
      margin-bottom: 0;

      li {
        margin-right: 2rem;

        a {
          color: $white;
          font-size: 2rem;
          text-decoration: none;

          &:hover {
            color: $yellow;
          }
        }
      }
    }
  }

  .bi-list {
    font-size: 3rem;
    color: $white;
    cursor: pointer;
    display: none;
  }
}

//Media Queries

@media (max-width: 800px) {
  #header {
    .bi-list {
      display: block;
    }

    nav {
      position: fixed;
      top: -120%;
      left: 0;
      height: calc(100vh - 5rem);
      width: 100vw;
      background: $blue;

      ul {
        height: 100%;
        flex-flow: column;
        justify-content: center;

        li {
          margin: 2rem 0;

          a {
            font-size: 3rem;
          }
        }
      }
    }

    .nav-toggle {
      top: 11.6rem;
    }
  }
}
