$green: #227345;
$light-green: #9fbfad;
$orange: #d96e11;
$white: #f2f2f2;
$black: #262626;

$blue: #023859;
$light-blue: #84c0d8;
$yellow: #f2b705;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-transform: capitalize;
  transition: all 0.2s linear;
  font-family: 'Exo 2', sans-serif;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
}

#header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: -100%;
  left: 0;
  padding: 1rem 4rem;
  background: $blue;
  box-shadow: 0 0.1rem 0.3rem #999;
  z-index: 1100;

  .logo {
    img {
      height: 10.5rem;
    }
  }

  nav {
    ul {
      display: flex;
      align-items: center;
      justify-content: space-around;
      list-style: none;
      margin-bottom: 0;

      li {
        margin-right: 2rem;

        a {
          color: $white;
          font-size: 2rem;
          text-decoration: none;

          &:hover {
            color: $yellow;
          }
        }
      }
    }
  }

  .bi-list {
    font-size: 3rem;
    color: $white;
    cursor: pointer;
    display: none;
  }
}

// Secao Home
#home {
  min-height: 100vh;
  width: 100vw;
  background: linear-gradient(
      76.34deg,
      #ffffff 52.45%,
      rgba(196, 196, 196, 0) 52.49%
    ),
    url(./assets/back1.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  animation: background 10s alternate infinite;

  .content {
    position: relative;

    h1 {
      font-size: 6rem;
      color: $blue;
      font-weight: 800;
    }

    h2 {
      font-size: 5rem;
      color: $blue;
    }

    h3 {
      font-size: 3rem;
      color: $light-blue;
      margin: 1rem 0;
    }

    button {
      outline: none;
      border: none;
      border-radius: 5rem;
      background: $blue;
      color: $white;
      cursor: pointer;
      height: 4rem;
      width: 18rem;
      font-size: 2rem;
      text-transform: capitalize;

      &:hover {
        background-color: $yellow;
      }
    }

    .icons {
      position: absolute;
      left: 2rem;
      bottom: -65%;

      i {
        line-height: 4rem;
        text-align: center;
        /* background: $blue; */
        border-radius: 5rem;
        font-size: 3.7rem;
        color: $blue;
        margin-right: 1.5rem;
        transition: 0.4s;

        &:hover {
          text-decoration: none;
          color: $yellow;
        }
      }
    }
  }
}

@keyframes background {
  0%,
  100% {
    background: linear-gradient(
        76.34deg,
        #ffffff 52.45%,
        rgba(196, 196, 196, 0) 52.49%
      ),
      url(./assets/back1.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
  }

  25% {
    background: linear-gradient(
        76.34deg,
        #ffffff 52.45%,
        rgba(196, 196, 196, 0) 52.49%
      ),
      url(./assets/back2.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
  }

  50% {
    background: linear-gradient(
        76.34deg,
        #ffffff 52.45%,
        rgba(196, 196, 196, 0) 52.49%
      ),
      url(./assets/back3.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
  }

  75% {
    background: linear-gradient(
        76.34deg,
        #ffffff 52.45%,
        rgba(196, 196, 196, 0) 52.49%
      ),
      url(./assets/back4.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
  }
}

//Media Queries

@media (max-width: 800px) {
  #header {
    .bi-list {
      display: block;
    }

    nav {
      position: fixed;
      top: -120%;
      left: 0;
      height: calc(100vh - 5rem);
      width: 100vw;
      background: $blue;

      ul {
        height: 100%;
        flex-flow: column;
        justify-content: center;

        li {
          margin: 2rem 0;

          a {
            font-size: 3rem;
          }
        }
      }
    }

    .nav-toggle {
      top: 11.6rem;
    }
  }
}
